body{
  background-image: url("../myproimages/bg1.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   font-size:3rem;
  
}

div>i{
	font-size:3rem;
}

h3{
	font-family: 'Bellota', cursive;
	font-size:50px;
	color: #2C3A47;
}

p,h5{
	font-family: 'Bellota', cursive;
	font-size:25px;
	color: #2C3A47;
}

#accordion>h3,#accordion1>h3{
font-family: 'Bellota', cursive;
	font-size:30px;
	color: #2C3A47;
}

#mid_color{
	background-color: #7efff5;
	border-radius: 35%;
	height:1000px;
}